:root {
  --color-primary: #4b69fd;
  --color-secondary: #fff9eb;
  --color-tertiary: #c4c4c4;
  --color-button: #fe652b;
  --color-button-hover: #e55720;
  --color-white: #ffffff;
  --color-text: #000000;
  --color-text-footer: #ffffff;
  --color-background-footer: #171717; /* Cor de fundo do rodapé */
  --color-border: #ddd; /* Cor da borda */
}

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .button-container {
    flex-direction: column;
  }
  .button-draw {
    max-width: 100%;
  }
}

body {
  height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  justify-content: column;
  align-items: center;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: var(--color-background-footer);
  color: var(--color-text-footer);
  text-align: center;
  padding: 8px;
  width: 100%;
  margin-top: auto;
}

.header-banner {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
}

.input-section {
  flex: 60%;
  background-color: var(--color-secondary);
  border: 1px solid #000;
  border-radius: 64px 64px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.main-title {
  font-size: 48px;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
}

.section-title {
  font-family: 'Inter', serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 10px 0;
  text-align: center;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.input-name {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
}

.button-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.imagem__amigo__secreto {
  max-width: 30%;
  height: 30%;
}

.input-title {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #333;
  border-right: none;
  border-radius: 25px 0 0 25px;
  font-family: 'Merriweather', serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
  padding: 15px 30px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button-add {
  background-color: var(--color-tertiary);
  color: var(--color-text);
  border-radius: 0 25px 25px 0;
}

.button-add:hover {
  background-color: #a1a1a1;
}

ul {
  list-style-type: none;
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin: 20px 0;
}

.result-list {
  margin-top: 15px;
  color: #05df05;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.sortearAmigo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 10px 20px;
  color: var(--color-white);
  background-color: var(--color-button);
  font-size: 16px;
  gap: 8px;
  flex: 1;
  max-width: 240px;
}

.sortearAmigo img {
  margin-right: 40px;
}

.sortearAmigo:hover {
  background-color: var(--color-button-hover);
}

.select-group {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.select-group label {
  font-size: 18px;
  color: var(--color-text);
}

.select-group select {
  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  font-size: 18px;
  background-color: var(--color-white);
  cursor: pointer;
}

.select-group select:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
.reiniciarSorteio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 10px 20px;
  color: var(--color-white);
  background-color: var(--color-button);
  font-size: 16px;
  gap: 8px;
  flex: 1;
  max-width: 240px;
}

.reiniciarSorteio img {
  margin-right: 40px;
}

.reiniciarSorteio:hover {
  background-color: var(--color-button-hover);
}
.refazerSorteio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 10px 20px;
  color: var(--color-white);
  background-color: var(--color-button);
  font-size: 16px;
  gap: 8px;
  flex: 1;
  max-width: 240px;
}

.refazerSorteio img {
  margin-right: 40px;
}

.refazerSorteio:hover {
  background-color: var(--color-button-hover);
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; /* Garante que o botão não possa ser clicado */
}
/* Estilo para o indicador de carregamento */

/* Estilo para o círculo girando (spinner) */

.carregando {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: #0000ff;
}
.carregando:before,
.carregando:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 3s spin linear infinite;
}
.carregando:after {
  color: #070707;
  transform: rotateY(70deg);
  animation-delay: 0.2s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
